* {
	text-align: center;
}

body {
	background-image: url(images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}

img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin-bottom: 0px;
}

header {
	font-size: 40px;
}

h1, h2 {
	margin: 0px;
	text-shadow: 2px 2px 4px #000000;
}

h2 {
	padding-bottom: 10px;
}

.button {
	background-color: rgb(0, 0, 0, .5);
	width: 60%;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	transition-duration: 0.4s;
	color: white;
	border: 1px solid black;
}

.button:hover {
	background-color: black;
	color: white;
}